<header>
	<div class="container">
		<div class="row">
			<div class="col-12">
				<div class="header-content">
					<div class="logo">
						<a href="../index.html"><img src="../assets/images/logo.png" alt="logo"></a>
						<h1 id="Phrase_d_accroche"> PIERROT Maxime </h1>
					</div>
					<div id="test">
						<button id="menu_button">Menu</button>
					</div>
					<div id="menu_nav">
						<a href="../index.html" class="menu_item">Projets</a>
						<a href="../about.html" class="menu_item">About</a>
						<a href="../contact.html" class="menu_item">Contact</a>
					</div>
					<a href="https://github.com/MaximePirt" target="_blank" class="github-link"><i class="fa-brands fa-github"></i></a>
					<a href="../index.html"><i class="fa-solid fa-house"></i></a>
				</div>
			</div>
		</div>
	</div>
</header>