footer {
	display:flex;
	flex-direction: column;
	justify-content: end;
	align-items: center;
	background-color: #222;
	color: #aaa;
	padding: 15px;
	margin-top: 50vh;
	text-align: center;
	height: 5vh;
	border-radius: 1vh;
}
footer p {
	margin: 0;
	font-size: 0.9rem;
}
